{% extends 'main.twig' %}

{% block title %}Password Reset - MoriTiza PHP Micro Framework{% endblock %}

{% block customStyles %}
	<!-- Custom styles -->
	<link rel="stylesheet" href="{{ asset('css/password-reset.css') }}">
{% endblock %}

{% block body %}
	<div class="container">
		<form class="form-password-reset" accept-charset="UTF-8" role="form" action="reset" method="post">
			<h2 class="form-password-reset-heading">Password Reset</h2>
			<input type="hidden" name="email" value="{{ email }}">
			<input type="hidden" name="token" value="{{ token }}">
			<label for="password" class="sr-only">New Password</label>
	        <input type="password" name="password" id="password" class="form-control" placeholder="New Password" required autofocus>
        	<button class="btn btn-lg btn-success btn-block" type="submit">Change password</button>
		</form>
	</div>
{% endblock %}