{% extends 'main.twig' %}

{% block title %}Sign in - MoriTiza PHP Micro Framework{% endblock %}

{% block customStyles %}
	<!-- Custom styles -->
	<link rel="stylesheet" href="{{ asset('css/signin.css') }}">
{% endblock %}

{% block body %}
	<div class="container">
		<form class="form-signin" accept-charset="UTF-8" role="form" action="signin" method="post">
			<h2 class="form-signin-heading">Please Sign in</h2>
			<label for="email" class="sr-only">Email Address</label>
	        <input type="email" name="email" id="email" class="form-control" placeholder="Email Address" required autofocus>
			<label for="password" class="sr-only">Password</label>
	        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
	        <div class="checkbox">
          		<label>
            		<input type="checkbox" name="remember-me" value="remember-me"> Remember me
          		</label>
        	</div>
        	<button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
        	<h5 class="text-center">Don't have an account? <a href="signup">Sign up</a></h5>
        	<h5 class="text-center"><a href="password/forgot">Forgot password?</a></h5>
		</form>
	</div>
{% endblock %}