{% extends 'main.twig' %}

{% block title %}Test Create - MoriTiza PHP Micro Framework{% endblock %}

{% block body %}
    <div class="container">
		<form accept-charset="UTF-8" role="form" action="store" method="post">
			<label for="name" class="sr-only">Full Name</label>
	        <input type="test" name="name" id="name" class="form-control" placeholder="Full Name" required autofocus>
			<label for="email" class="sr-only">Email Address</label>
	        <input type="email" name="email" id="email" class="form-control" placeholder="Email Address" required>
        	<button class="btn btn-lg btn-success btn-block" type="submit">Create</button>
		</form>
	</div>
{% endblock %}