{% extends 'main.twig' %}

{% block title %}MoriTiza PHP Micro Framework{% endblock %}

{% block customStyles %}
	<!-- Custom styles -->
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				
				<header class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand"><a href="https://mortezanasiri.github.io/moritiza" target="_blank">MoriTiza</a></h3>
						<nav class="nav nav-masthead">
							<a class="nav-link active" href="#">Home</a>
							{% if auth() %}
							<a class="nav-link" href="signout">Sign out</a>
							{% else %}
							<a class="nav-link" href="signup">Sign up</a>
							<a class="nav-link" href="signin">Sign in</a>
							{% endif %}
						</nav>
					</div>
				</header>

				<main role="main" class="inner cover">
					<h1 class="cover-heading">Hello Everyone <i class="fas fa-smile"></i></h1>
					<h3>Welcome to MoriTiza PHP Micro Framework.</h3>
					<p class="lead" style="margin-top: 30px;">
						<a class="btn btn-lg btn-secondary" href="https://github.com/mortezanasiri/MoriTiza" target="blank">Github <i class="fab fa-github"></i></a>
						<a class="btn btn-lg btn-secondary" style="margin-left: 20px;" href="https://mortezanasiri.github.io/moritiza/start.html" target="blank">Documentation <i class="fas fa-file-code"></i></a>
					</p>
				</main>

				<footer class="mastfoot">
					<div class="inner">
						<p>Made with <i class="fa fa-heart text-danger"></i> by <a href="https://mortezanasiri.github.io" target="_blank">Morteza Nasiri</a></p>
					</div>
				</footer>

			</div>
		</div>
	</div>
{% endblock %}