{% extends 'main.twig' %}

{% block title %}404 Not Found - MoriTiza PHP Micro Framework{% endblock %}

{% block customStyles %}
	<!-- Custom styles -->
	<link rel="stylesheet" href="{{ asset('css/error-pages.css') }}">
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row vertical-center">
			<div class="col-md-12">
				<h1>Oops! <i class="far fa-frown"></i></h1>
				<h3>404 Not Found</h2>
				<h6>Sorry, an error has occured, Requested page not found!</h6>
			</div>
		</div>
	</div>
{% endblock %}